body {
    height: 90vh;
    margin: 0;
    padding: 1rem;
    display: grid;
    place-items: center;
    font-family: system-ui;
  }
  h1 {
    background: rgb(255, 255, 255);
    padding: 1rem 2rem;
    text-align: center;
    padding: 30px 50px;
  }
  span {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
  }
  button{
    padding: 10px 19px;
    border-radius: 4%;
    background-color: white;
    color: rgb(28, 76, 82);
    border: 1.5px solid grey;
  }